doctype html
head
  meta(charset='UTF-8')
  title WithBook
  link(href='search.css' rel='stylesheet' type='text/css')
.header
  a#sitename(href='/') WithBook
  form(action='/search' method='get')
    input#searchbar(type='text' name='search')
    button(id="searchbutton" type="submit") 검색
hr
.result
  p.Besult 검색결과
  p.sorting
    span.sort_first
      img(src='./images/check.svg')
      | 관련도순
    span.sort_second
      img(src='./images/uncheck.svg')
      | 출간일순
    span.sort_third
      img(src='./images/uncheck.svg')
      | 판매량순
.bookList
  ul.book_relative
    each profile in sim
      li
        .thumbnail
          img(src= profile.image style='width:100px; height:160px')
        .book_info
          .book_title
            - t = profile.title.replace(/<\/?[^>]+(>|$)/g, "");
            strong= t
          .book_desc
            p
              | 가격 
              del= profile.price
              |  -&gt; 
              span.dis_price= profile.discount
            p
              - d = profile.description.replace(/<\/?[^>]+(>|$)/g, "");
              = d
  ul.book_date(style='display: none')
    each profile in date
      li
        .thumbnail
          img(src= profile.image style='width:100px; height:160px')
        .book_info
          .book_title
            - t = profile.title.replace(/<\/?[^>]+(>|$)/g, "");
            strong= t
          .book_desc
            p
              | 가격 
              del= profile.price
              |  -&gt; 
              span.dis_price= profile.discount
            p
              - d = profile.description.replace(/<\/?[^>]+(>|$)/g, "");
              = d
  ul.book_sell(style='display: none')
    each profile in count
      li
        .thumbnail
          img(src= profile.image style='width:100px; height:160px')
        .book_info
          .book_title
            - t = profile.title.replace(/<\/?[^>]+(>|$)/g, "");
            strong= t
          .book_desc
            p
              | 가격 
              del= profile.price
              |  -&gt; 
              span.dis_price= profile.discount
            p
              - d = profile.description.replace(/<\/?[^>]+(>|$)/g, "");
              = d
script(src='search.js')